@font-face {
  font-family: 'MaPolicePerso';
  src: url('./fonts/Banana-Outline-Regular.ttf');
}

body {
  background-image: url('./images/bg-bananes.jpg');
}

h1, h2, h3, h4, h5, h6 {
  font-family: "MaPolicePerso";
}

p {
  font-family: "Arial", sans-serif;
  font-size: 0.8rem;
}

.bg-image {

}


